.quiz-container {
  background: #f9f9f9;
  border-radius: 15px;
  padding: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #004e92;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.instructions-card {
  background: #e3f2fd;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  position: sticky;
  top: 10px;
}

.question-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.question-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.option-box {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-box:hover {
  background-color: #dce775;
}

.option-label {
  margin-left: 10px;
  font-size: 15px;
}

.best-timer-card {
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
  box-shadow: 0 0 15px rgba(33, 150, 243, 0.3);
  border-radius: 20px;
  padding: 15px;
  position: sticky;
  top: 10px;
}

.circular-timer-wrapper {
  width: 150px;
  height: 150px;
}

.circle-svg {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke: #42a5f5;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.circle-text {
  font-size: 0.5em;
  text-anchor: middle;
  fill: #000;
  font-weight: bold;
}

.result-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

mat-card-title, h3 {
  color: #1976d2;
}

button {
  margin: 5px;
}
